:root{
    --containerBgColor: #2b2a2a;
    --leftBgColor: rgba(43,43,43,0.8);
    --rightBgColor: rgba(121, 151, 160, 0.8);
    --buttonHoverColor: rgba(103, 200, 248, 0.7);
    --buttonColor:rgba(43, 42, 42,0.7);
    --hoverWidth: 75%;
    --otherWidth: 25%;
    --speed: 1000ms;
}
html, body{
    padding: 0;
    margin: 0;
    font-family: 'Lato' ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
h1{
    font-size: 50px;
    position: absolute;
    line-height: 1.3;
    white-space:nowrap;
    animation-name: heading;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    transform: translateX(-50%);
    left: 50%;
}
@keyframes heading{
    0%{top:-50%;}
    100%{top:20%;}
}
.container{
    padding: 0 300px;
    color: #fff;
    width:100%;
    height:100%;
    background: var(--containerBgColor);
}
.content{
    position: absolute;
    top: 40%;
    font-size: 40px;
}
.left_content{
    animation-name: contentLeft;
    transform: translateX(-50%);
    animation-fill-mode: forwards;
    animation-duration: 3s;
}
@keyframes contentLeft{
    0%{ left:-100%;}
    100%{left:50%;}
}
.right_content{
    animation-name: contentRight;
    transform: translateX(50%);
    animation-fill-mode: forwards;
    animation-duration: 3s;
}
@keyframes contentRight{
    0%{ right:-100%;}
    100%{right:50%;}
}
.btn{
    background: var(--buttonColor);
    display:inline-block;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    border: #fff 1px solid;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    position: absolute;
    animation: btn;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}
@keyframes btn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.btn:hover{
    background: var(--buttonHoverColor);
}
.split{
    position: absolute;
    width: 50%;
    height:100%;
    overflow: hidden;
}
.split.left{
    background:url('london.jpeg') center center no-repeat;
    left:0;
    transition: var(--speed) all ease-in-out;
}
.split.right{
    background: url('nyc.jpeg') center center no-repeat;
    right:0;
    transition: var(--speed) all ease-in-out;
}
.split.left:before{
    position: absolute;
    content:"";
    width:100%;
    height:100%;
    background: var(--leftBgColor);
    transition: var(--speed) all ease-in-out;
}
.split.right:before{
    position: absolute;
    content:"";
    width:100%;
    height:100%;
    background: var(--rightBgColor);
    transition: var(--speed) all ease-in-out;
}
.hoverLeft .left{
    width: var(--hoverWidth);
}
.hoverLeft .right{
    width: var(--otherWidth);
}
.hoverLeft .left:before{
    background: none;
}
.hoverLeft .right:before{
    z-index:2;
}
.hoverRight .right{
    width: var(--hoverWidth);
}
.hoverRight .left{
    width: var(--otherWidth);
}
.hoverRight .right:before{
    background: none;
}
.hoverRight .left:before{
    z-index:2;
}
@media(max-width:800px){
    h1{
        font-size: 2rem;
    }
    .content{
        font-size: 1.5rem;
    }
    .button{
        width:12rem;
    }
}